.bill-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 10px;
    margin-left: 240px;
}

.bill-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-left h3 {
    margin-top: 0px;
    font-size: 15px;
}

.header-left p {
    margin-bottom: 0px;
}

.header-center h1 {
    margin: 0;
    font-size: 35px;
    text-align: center;
}

.header-center p {
    text-align: center;
    margin: 5px;
    font-size: 15px;
}

.header-right {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-right h3 {
    text-align: end;
    margin-top: 0px;
}

.header-right p {
    text-align: end;
    margin-bottom: 0px;
}

.customer-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.customer-personal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer-personal-details h4 {
    margin-top: 2px;
}

.customer-address-details p {
    margin-bottom: 0px;
}

.bill-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.invoice-view-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin: 0;
    font-size: 14px;
    border: 2px solid #000;
}

.invoice-view-table th {
    border: 1px solid #000;
    padding: 6px 4px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: #fff;
    height: 28px;
    line-height: 1.2;
    font-size: 13px;
}

.invoice-view-table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: none;
    border-bottom: none;
    padding: 6px 4px;
    text-align: center;
    vertical-align: top;
    height: 28px;
    line-height: 1.2;
    font-size: 13px;
}

.invoice-view-table thead th {
    background-color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.invoice-view-table tbody tr:not(.empty-row) td {
    border-bottom: 1px solid #000;
}

.invoice-view-table tbody tr:first-child td {
    border-top: 1px solid #000;
}

.invoice-view-table tbody tr {
    background-color: #fff;
}

.invoice-view-table th:nth-child(1),
.invoice-view-table td:nth-child(1) {
    width: 8%;
}

.invoice-view-table th:nth-child(2),
.invoice-view-table td:nth-child(2) {
    width: 30%;
    text-align: left;
    padding-left: 8px;
}

.invoice-view-table th:nth-child(3),
.invoice-view-table td:nth-child(3) {
    width: 12%;
}

.invoice-view-table th:nth-child(4),
.invoice-view-table td:nth-child(4) {
    width: 10%;
}

.invoice-view-table th:nth-child(5),
.invoice-view-table td:nth-child(5) {
    width: 8%;
}

.invoice-view-table th:nth-child(6),
.invoice-view-table td:nth-child(6) {
    width: 15%;
    text-align: right;
    padding-right: 8px;
}

.invoice-view-table th:nth-child(7),
.invoice-view-table td:nth-child(7) {
    width: 17%;
    text-align: right;
    padding-right: 8px;
}

.table-div {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.customer-bank-totals-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

.bank-details p {
    margin: 3px 0;
}

.totals-details div {
    margin: 2px 0;
}

.totals-details .grand-total {
    border-top: 1px solid black;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 2px;
}

.amount-rupees-details {
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    margin-top: 2px;
    padding-bottom: 5px;
}

.bill-footer {
    display: flex;
    justify-content: space-between;
}

.terms-and-conditions-head {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.terms-and-conditions-head h4 {
    margin-top: 5px;
}

.terms p {
    font-size: 10px;
    text-align: start;
    margin-bottom: 0px;
}

.bill-authorize-sign {
    margin-right: 15px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
}

.bill-authorize-sign p {
    margin: 0;
}

.bill-authorize-sign p:first-child {
    margin-bottom: 40px;
}

@media print {
    .invoice-view-table {
        border: 1px solid #000 !important;
    }

    .invoice-view-table th {
        border: 1px solid #000 !important;
        background-color: #e9ecef !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .invoice-view-table td {
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        border-top: none !important;
        border-bottom: none !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}